html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* --------------------------------------------------css reset----------------------------------------------------- */
* {
  box-sizing: border-box;
  .button,
  a:hover {
  cursor: pointer;
  text-decoration: none;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #000000;
  font-family: "Roboto,Lato";
}

.header {
  background: linear-gradient(110.6deg, #2a4032 0.81%, #3a5e46 100%);
}
@media screen and (max-width: 575px) {
  .footer p {
    display: none;
  }
  .footer .img {
    display: none;
  }

  .right-h .dollar {
    display: none;
  }
  .off-40 {
    display: none;
  }
  .left-footer {
    display: none;
  }
  .sell-button {
    display: none;
  }
  .menu-desktop {
    display: none;
  }

  .header {
    margin-top: -10%;
    width: 100%;
    height: auto;
    background: linear-gradient(110.6deg, #2a4032 0.81%, #3a5e46 100%);
  }
  .left-h {
    padding-top: 20%;
    padding-left: 5%;
  }
  .left-h .year {
    width: 100%;
    height: auto;
    font-family: "Lato";
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #ffffff4d;
    padding: 3%;
  }
  .left-h h1 {
    width: 100%;
    height: auto;
    font-family: "Lato";
    font-size: 60px;
    font-weight: 900;
    line-height: 50px;
    text-align: left;
    color: #ffffff;
    padding: 3%;
  }
  .header .p-h {
    width: 100%;
    height: auto;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #ffffffcc;
    padding: 3%;
  }
  .button-h {
    width: 49%;
    height: 49px;
    padding: 16px 40px;
    margin: 5px 0px;
    background: #fdde67;
    z-index: 2;
    padding: 3%;
    transform: translateZ(0);
  }
  .button-h span {
    width: 100%;
    height: auto;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #181818;
    /* cursor: pointer; */
  }
  /* --------------------- */

  .right-h .ellips1 {
    border-radius: 50%;
    width: 198.55px;
    height: 198.55px;
    margin-top: 5%;
    margin-left: 35%;
    background: #1b2d22;
  }
  .right-h .ellips2 {
    border-radius: 50%;
    width: 198.55px;
    height: 198.55px;
    margin-left: 15%;
    margin-top: -30%;
    background: #1b2d22;
  }

  .right-h .img11 {
    width: auto;
    height: auto;
    margin-top: -85%;
    margin-left: 20%;
    /* --------------menu bar--------------- */
  }
  .menu-bar {
    background-color: #fdde67;
    box-shadow: 0px 0px 4px 0px #00000040;
    margin-top: 20%;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: auto;
    z-index: 1;
  }
  .menu-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu-bar ul li {
    margin: 10px;
  }
  /* ------------------brands-name----------- */
  .brands-name ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    background-color: #181818;
    justify-content: space-around;
  }
  /* ---------------new collection----------- */
  .new-collection {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    position: relative;
  }
  .new-collection h2 {
    width: 216px;
    height: 32px;
    font-family: "Lato";
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    padding: 12px 15px;
  }
  .jacket {
    background-color: #c5c2ca;
    width: 100%;
    height: auto;
    border-radius: 24px;
    margin-top: 40px;
  }
  .new-collection .jacket p {
    width: 300px;
    height: 18px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    padding: 5%;
  }
  .new-collection .jacket .img {
    padding-left: 30%;
    margin-top: 10%;
  }
  .new-collection .jacket button {
    width: 167px;
    height: 49px;
    padding: 16px 40px;
    margin-left: 40%;
    margin-bottom: 50%;
    border-radius: 6px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #181818;
    margin-left: 50%;
    margin-top: -20%;
    position: absolute;
    z-index: 0;
  }
  .new-collection .jacket button span {
    width: 87px;
    height: 17px;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
  }
  .Sunglasses {
    background-color: #fdde67;
    width: 100%;
    height: auto;
    margin-top: 10%;
    border-radius: 24px;
    width: 100%;
    position: relative;
  }
  .Sunglasses p {
    width: 190px;
    height: 36px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: #000000;
    padding-top: 10%;
    margin-left: 60%;
  }
  .Sunglasses .off {
    width: 95px;
    height: 28px;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
    margin-left: 64%;
    padding-top: 25%;
  }
  .Sunglasses .img {
    margin-top: -20%;
    padding-left: 15%;
  }
  .Sunglasses button {
    width: 167px;
    height: 49px;
    padding: 16px 40px;
    margin-left: 40%;
    margin-bottom: 50%;
    border-radius: 6px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #181818;
    margin-left: 50%;
    margin-top: -20%;
    position: absolute;
    z-index: 0;
  }
  .Sunglasses button span {
    width: 87px;
    height: 17px;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
  }
  /* --------------------------Best Sellers------------------ */
  .best-sellers {
    /* position: absolute; */
    background-color: #e9e9e9;
    width: 100%;
    height: auto;
    top: 1500px;
    padding: 30px 15px;
  }
  .best-sellers h2 {
    width: 216px;
    height: 32px;
    font-family: "Lato";
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
  }
  .scroll-container {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    gap: 20px;
    -webkit-overflow-scrolling: touch;
  }

  /* -----------------------------card----------------------------------------------- */

  .card {
    box-sizing: border-box;
    width: 250px;
    height: 100%;
    padding: 15px;
  }
  .card .img {
    box-sizing: border-box;
    display: block;
    position: relative;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 10px;
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
  }
  .card .img .heart {
    direction: rtl;
    display: block;
    width: auto;
    height: auto;
  }
  .card .backpack {
    width: 100%;
    height: 100%;
    padding: 20px 30px 0px 30px;
  }
  .card .currency {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card .currency-name span {
    width: 148px;
    height: 18px;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: #000000;
  }
  .card .currency-price {
    margin-top: -20px;
    width: 50px;
    height: 16px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    line-height: 16.41px;
    text-align: left;
    color: #00000099;
  }
  .card .currency-price .off-1 {
    color: #00000033;
  }
  .card .currency .img-carello-quadrato {
    width: auto;
    height: auto;
    border-radius: 6px;
  }
  /* ------------------------------------footer-------------------------------------------- */
  .footer {
    background-color: #3b5f47;
    width: 100%;
    height: 200px;
  }
  .right-footer {
  }
  .right-footer h3 {
    font-family: "Lato";
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
  }
  .timer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
  }
  .timer li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .timer ul li .number {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #18181840;
    color: #ffffff;
    width: 54px;
    height: 54px;
    padding: 12px;
    border-radius: 8px;
  }
  .timer ul li .ietm {
    font-family: "Roboto";
    font-size: 10px;
    font-weight: 300;
    line-height: 14px;
    text-align: left;
    color: #ffffff;
  }
}

/* ----------------------tablet-------------------- */
/* @media only screen and (min-device-width: 576px) and (max-device-width: 991px)  {
  .container{
    background-color: #000000;
  }
}
 */

/* ----------------------desktops------------------- */

@media only screen and (min-width: 960px) {
  .max {
    max-width: 1320px;
    margin: 0 auto;
  }

  .menu-desktop {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
  }
  .menu-desktop ul {
    display: flex;
  }
  .header .etalon {
    width: 107px;
    height: 40px;
    font-family: "Lato";
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
  }
  .menu-desktop .item1 {
    width: 48px;
    height: 40px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
  }
  .menu-desktop .item-menu {
    width: 43px;
    height: 40px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #ffffff4d;
  }

  .menu-desktop ul li {
    margin-right: 2.5rem;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 450px;
  }
  .left-h {
    padding-top: 2%;
  }
  .left-h .year {
    width: 100%;
    height: auto;
    font-family: "Lato";
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #ffffff4d;
    padding: 3%;
  }
  .left-h h1 {
    width: 100%;
    height: auto;
    font-family: "Lato";
    font-size: 60px;
    font-weight: 900;
    line-height: 50px;
    text-align: left;
    color: #ffffff;
    padding: 3%;
    letter-spacing: 0.5rem;
  }
  .header .p-h {
    width: 100%;
    height: auto;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #ffffffcc;
    padding: 3%;
  }
  .button-h {
    width: 49%;
    height: 49px;
    padding: 16px 40px;
    margin: 5px 0px;
    background: #fdde67;
    z-index: 2;
    padding: 3%;
    border-radius: 8px;
  }
  .button-h span {
    width: 100%;
    height: auto;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #181818;
  }
  .right-h {
    padding-top: 2%;
    position: absolute;
    top: -6%;
    right: 30%;
  }
  .right-h .dollar {
    width: 84px;
    height: 43px;
    top: 79px;
    left: 143.04px;
    font-family: "Lato";
    font-size: 36px;
    font-weight: 500;
    line-height: 43.2px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 28%;
    left: -25%;
  }
  .right-h .off-40 {
    width: 40%;
    height: auto;
    position: absolute;
    top: 35%;
    left: 0;
  }
  .right-h .ellips1 {
    border-radius: 50%;
    width: 198.55px;
    height: 198.55px;
    margin-top: 40%;
    margin-left: 35%;
    background: #1b2d22;
  }
  .right-h .ellips2 {
    border-radius: 50%;
    width: 198.55px;
    height: 198.55px;
    margin-top: -40%;
    margin-left: -10%;
    background: #1b2d22;
  }
  .right-h .img11 {
    width: auto;
    height: auto;
    margin-top: -160%;
    margin-left: 20%;
  }
  .menu-bar {
    display: none;
  }
  .brands-name {
    background-color: #181818;
  }
  .brands-name ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 5rem;
  }
  .brands-name ul li img {
    padding-top: 0.7rem;
    width: 6rem;
    height: 4rem;
  }
  /* ---------------new collection----------- */

  .new-collection {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
  }

  .collection-parent {
    display: flex;
    justify-content: space-between;
  }
  .new-collection h2 {
    width: 324px;
    font-family: "Lato";
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    padding-top: 2rem;
    margin-bottom: 28px;
  }
  .jacket {
    background-color: #c5c2ca;
    width: 500px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .new-collection .jacket p {
    width: 300px;
    height: 18px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
  }
  .new-collection .jacket .img {
    align-self: center;
    padding-top: 25px;
  }
  .new-collection .jacket button {
    width: 167px;
    height: 49px;
    border-radius: 6px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #181818;
    align-self: self-end;
    position: absolute;
    bottom: 15px;
    right: 45px;
    z-index: 1;
  }
  .new-collection .jacket button span {
    width: 87px;
    height: 17px;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
  }
  .Sunglasses {
    background-color: #fdde67;
    border-radius: 24px;
    width: 740px;
    position: relative;
  }
  .Sunglasses p {
    width: 190px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: #000000;
    position: absolute;
    top: 20%;
    right: 10%;
  }
  .Sunglasses .off {
    width: 185px;
    height: 56px;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 700;
    line-height: 56px;
    position: absolute;
    right: 13%;
    top: 40%;
  }
  .Sunglasses button {
    width: 167px;
    height: 49px;
    border-radius: 6px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #181818;
    position: absolute;
    bottom: 5%;
    right: 5%;
  }
  .Sunglasses .img img {
    width: 40%;
    height: auto;

    position: absolute;
    bottom: 0;
    left: 10%;
  }
  .Sunglasses button span {
    width: 87px;
    height: 17px;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
  }
  /* --------------------------Best Sellers------------------ */
  .best-sellers {
    background-color: #e9e9e9;
    width: 100%;
    height: auto;
  }
  .card-container {
    align-items: center;
  }
  .scroll-container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }
  .best-sellers h2 {
    width: 216px;
    height: 32px;
    font-family: "Lato";
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    padding: 20px;
  }
  .sell-button {
    margin: 2% 40%;
    width: 210px;
    height: 49px;
    padding: 16px 40px;
    border-radius: 6px;
    background-color: #181818;
    align-self: center;
  }
  .sell-button span {
    width: 130px;
    height: 17px;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #ffffff;
  }
  /* -----------------------------card----------------------------------------------- */

  .card {
    box-sizing: border-box;
    width: 250px;
    height: 100%;
    padding: 15px;
  }
  .card .img {
    box-sizing: border-box;
    display: block;
    position: relative;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 10px;
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
  }
  .card .img .heart {
    direction: rtl;
    display: block;
    width: auto;
    height: auto;
  }
  .card .backpack {
    width: 100%;
    height: 100%;
    padding: 20px 30px 0px 30px;
  }
  .card .currency {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card .currency-name span {
    width: 148px;
    height: 18px;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: #000000;
  }
  .card .currency-price {
    margin-top: -20px;
    width: 120px;
    height: 16px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    line-height: 16.41px;
    text-align: left;
    color: #00000099;
  }
  .card .currency-price .off-1 {
    color: #00000033;
    text-decoration-line: line-through;
  }
  .card .currency .img-carello-quadrato {
    width: auto;
    height: auto;
    border-radius: 6px;
  }
  /* ---------------------------------------footer----------------------------------------- */
  .footer {
    background-color: #3b5f47;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
  }
  .footer .right-footer {
    position: absolute;
    top: 34%;
    right: 10%;
  }
  .footer .left-footer {
    border: 200px solid #fdde67;
    position: absolute;
    z-index: 2;
    left: 0;
  }
  .right-footer img {
    position: absolute;
    z-index: 3;
    top: 0%;
    left: -77%;
  }
  .right-footer .p {
    width: 252px;
    height: 48px;
    font-family: "Roboto";
    font-size: 64px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    position: absolute;
    top: -30%;
    left: -70%;
    z-index: 3;
  }

  .footer-content h3 {
    font-family: "Lato";
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    left: 10%;
  }
  .timer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: space-between;
  }
  .timer li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .timer ul li .number {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #18181840;
    color: #ffffff;
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 8px;
  }
  .timer ul li .ietm {
    font-family: "Roboto";
    font-size: 10px;
    font-weight: 300;
    line-height: 14px;
    text-align: left;
    color: #ffffff;
  }
}
